<h2>Guidelines <small>April to May 2015</small></h2>
<div class="row">
  <div class="col-md-3">
      <div class="sidebar">
        <div class="list-group">
          <%= link_to "<i class='fa'></i> SCHOOL UNITS".html_safe, special_guidelines_path(g: "School"), class: "list-group-item" %>
          <%= link_to "<i class='fa' ></i> AUXILIARIES".html_safe, special_guidelines_path(g: "Auxiliaries"), class: "list-group-item" %> 
          <%= link_to "<i class='fa' ></i> CENTRAL SERVICES".html_safe, special_guidelines_path(g: "Central Services"), class: "list-group-item" %> 
          <%= link_to "<i class='fa' ></i> OTHERS".html_safe, special_guidelines_path(g: "Others"), class: "list-group-item" %> 
          <%= link_to "<i class='fa' ></i> DOWNLOADABLE FORMS".html_safe, special_downloadable_forms_path, class: "list-group-item" %> 
        </div>        
     </div>
  </div>
  <div class="col-md-9">
    <% if @g == "School" %>
      <h2>School Units</h2>
    <% elsif @g == "Auxiliaries" %>
      <h2>For Auxiliaries</h2>
    <% elsif @g == "Central Services" %>
      <h2>For Central Service Units</h2>
    <% else %>
      <h2><%= @g %></h2>
    <% end %>
    <% @guidelines.each do |guideline| %>
      <% if guideline.special == true %>
       <%= render partial: "pages/guidelines", locals: {guideline: guideline} %>
      <% end %>
    <% end %>
  </div>
</div>

