<div class="header">
  <div class="row">
    <div class="col-md-6 angled">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag "ateneo.png" %>
        </div>
        <div class="col-md-9">
          <h2 class="header_title">Ateneo de Manila University <br> Budget Website for F.Y. <br>2015 - 2016</h2>
        </div>
       </div>
      </div>
    <div class="col-md-6 right">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 nav-item li1"><%= link_to "HOME", root_path %></div>
    <div class="col-md-2 nav-item li2"><%= link_to "SCHEDULE", schedule_path %></div>
    <div class="col-md-2 nav-item li3">
      <%= link_to "FORMS", downloadable_forms_path %>
    </div>
    <div class="col-md-2 nav-item li4">
      <%= link_to "GUIDELINES", guidelines_path %>
    </div>
    <div class="col-md-2 nav-item li3">
      <%= link_to "GUIDELINES <br><small>(April to May 2015)</small>".html_safe, special_guidelines_path %>
    </div>
    <div class="col-md-2 nav-item li5">
      <%= link_to "UPLOAD FORM", new_uploaded_form_path %>
    </div>
  </div>
</div>
