<!DOCTYPE html>
<html>
<head>
  <title>AteneoBudgetWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "pages/header" %>
<div class="container">
<%= yield %>
</div>

<div class="footer">
  <h4> Ateneo de Manila University </h4>
</div>

</body>
</html>
